<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="/c/reqparser.css" type="text/css" />
</head>
<body>

<h1>My Documents</h1>
<div th:if="${#lists.isEmpty(mydocuments)}">
    You have not uplaoded any documents.
</div>
<table th:if="!${#lists.isEmpty(mydocuments)}">
    <tr>
        <th>Document Name</th>
        <th>Uploaded By</th>
        <th>Process Date</th>
        <th>Details</th>
    </tr>
    <tr th:each="document : ${mydocuments}">
        <td th:text="${document.documentName}" />
        <td th:text="${document.createUser}" />
        <td th:text="${#dates.format(document.documentProcessDate, 'dd-MMM-yyyy')}" />
        <td><a th:href="'/details/' + ${document.documentId}">Details</a></td>
    </tr>
</table>

<hr/>

<h1>Other Documents</h1>
<div th:if="${#lists.isEmpty(otherdocuments)}">
    No documents have been uplaoded by other users.
</div>
<table th:if="!${#lists.isEmpty(otherdocuments)}">
    <tr>
        <th>Document Name</th>
        <th>Uploaded By</th>
        <th>Process Date</th>
        <th>Details</th>
    </tr>
    <tr th:each="document : ${otherdocuments}">
        <td th:text="${document.documentName}" />
        <td th:text="${document.createUser}" />
        <td th:text="${#dates.format(document.documentProcessDate, 'dd-MMM-yyyy')}" />
        <td><a th:href="'/details/' + ${document.documentId}">Details</a></td>
    </tr>
</table>

<hr />
<a href="/upload">Upload New File</a>

</body>
</html>